.comments_feed {
	
}

.container {
	padding: 5px;
	box-sizing: border-box;
}

.singe_comment{


}

.comments_wraper {
	overflow-y: auto;
}


.comment_author {
	margin: 0;
	margin-left: 5px;
	padding: 0;
	display: inline-block;
}

.comment_text{
	margin-left: 10px;
	display: block;
	font-size: 0.9em;
}

.comment_time{
	font-size: x-small;
	margin-left: 10px;
	color:#aaa;
	font-weight: bold;
}


.user_comment_div{

	border-top:1px solid #ccc;
	padding-top:10px; 
	clear: both;
}


.text_area{
	display: block;
	width: 100%;
	box-sizing: border-box;
	outline: 0;
	resize: none;
	height: 100px;
}

.send_btn,.log_btn {
	width: 100%;
	display: block;
	margin-top:5px; 
	text-align: center;
	color: white;
	background-color: #74ce55;
	padding: 10px;
	box-sizing: border-box;
	outline: 0;
	border:0;
	text-decoration: none;

}

.send_btn:hover,.log_btn:hover {

	opacity: 0.7;
	cursor: pointer;
}


.send_btn:focus,.log_btn:focus {

	opacity: 0.7;
	cursor: pointer;
}